@using LibraryManagementSystem.Dto
@{
    Layout = "/views/shared/_layout1.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/site2.css" rel="stylesheet" />

<!DOCTYPE html>

@model PasswordDto

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
</body>
</html>

<div class="row g-0 text-center">
    <div class="col-5 district1">
        <img class="photo2" src="~/images/ResetPassword.jpg" />
        <br />
        <br />
        <form asp-controller="Auth" asp-action="ResetPasswordUI" method="post">
            <div class="mb-4 area">
                <label  class="MyLabel2">ResetPassword</label>
                <input asp-for="PasswordResetToken" style="width:340px;margin-left:100px" type="password" class="form-control" placeholder="Sıfırlama Parolnızı giriniz" />
                <span asp-validation-for="PasswordResetToken" class="text-danger"></span>
            </div>
            <div class="mb-4 area">
                <label class="MyLabel2">Parola</label>
                <input asp-for="Password" style="width:340px;margin-left:100px" type="password" class="form-control" placeholder="Yeni parolayı giriniz" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-4 area">
                <label class="MyLabel2">Parola</label>
                <input asp-for="ConfirmPassword" style=" width:340px;margin-left:100px" type="password" class="form-control" placeholder="Yeni parolayı tekrar giriniz" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button style="margin-left:100px" asp-controller="Auth" asp-action="SignInUI" formmethod="get" class="btn btn-success">Geri Dön</button>
                <button class="btn btn-danger" type="submit" >Şifreni Güncelle</button>
            </div>
        </form>
    </div>
    <div class="col-7 district5">
    </div>
</div>